* {
	margin: 0;
	padding: 0;
	font-family:"AtlasTypewriterRegular", "Andale Mono", "Consolas", "Lucida Console", "Menlo", "Luxi Mono", monospace;
}
body {
	background: url("../img/bgteste.jpg");
}
::-moz-selection { /* Codigo pro Firefox */
    color:#fff;
    background:#0e0e0e;
}

::selection {
    color:#fff;
    background:#0e0e0e;
}

#wrapper {
	width: 100%;
	margin: auto;
}

#header {
	width: 100%;
	height: 125px;
	background: #eaeeef;
}
#divlogo {
	width: 244px;
	height: 125px;
	float: left;
}
#logo {
	width: 244px;
	height: 125px;
}
#login {
	width: 200px;
	height: 100px;
	float: right;
	background: #ffffff;
	border-radius: 15px;
	text-align: center;
	margin: 4px 4px 0px 0px;
	padding-top: 4px;
}
#login ul{
	list-style: none;
	list-style-position: inside;
}
#login li a:link {
	color:black;
	text-decoration:none;
}
#login li a:visited {
	color:black;
	text-decoration:none;
}
#login li a:hover {
	color:#6cdc5d;
	text-decoration:none;
	transition:all .1s ease-in-out;
}

#nav {
	width: 100%;
	height: 45px;
	background: black;
}
#nav ul {
	list-style:none;
	padding: 10px 0px 0px 0px;
	color:#ffffff;
	font-size: 20px;
}
#nav ul li {
	display:inline;
	border-right:2px solid #ffffff;
	padding:0px 30px 0px 31px;
}
#nav li a:link {
	color:white;
	text-decoration:none;
}
#nav li a:visited {
	color:white;
	text-decoration:none;
}
#nav li a:hover {
	color:#6cdc5d;
	text-decoration:none;
	transition:all .2s ease-in-out;
}
#nav li a:active {
	color:gray;
	text-decoration:none;
}
#nav a li {
	border: none;
	margin-right: 12px;
}
#nav a:link {
	color:white;
	text-decoration:none;
}
#nav a:visited {
	color:white;
	text-decoration:none;
}
#nav a:hover {
	color:#6cdc5d;
	text-decoration:none;
	transition:all .2s ease-in-out;
}
#nav a:active {
	color:gray;
	text-decoration:none;
}
#nav form li {
	border: none;
	float: right;
}
/*PESQUISA*/
#nav ul li form {
	float: right;
	margin-right: 43px;
}


#sidebar {
	width: 15%;
	min-height: 30px;
	background: #eaeeef;
	float: left;
}
#sidebar ul {
	list-style-position: inside;
	list-style: none;
	margin-left: 10px;
	font-size: 15px;
}
#sidebar ul li {
	margin-left: 10px;
}
form{
	text-align: center;
}

#fundoContent {
	width:100%;
	float:left;
	background:url("../img/bglados.gif");
}
#fundoContent h1{
	text-align: center;
}

#content {
	width: 87%;
	min-height: 470px;
	background: white;
	padding-bottom: 10px;
	margin: auto;

}

#contentSidebar {
	width: 85%; 
	min-height: 470px;
	padding-bottom: 10px;
	background: white;
	float: right;
}
.produto{
	width: 15%;
	height: 215px;
	margin: 3px 8px 3px 10px;
	float:left;
}
.nomeproduto{
	text-align: center;
	height: 30px;
	max-width: 100%;
	clear: both;
	font-size: 20px;
	color: black;
}
.imgproduto{
	margin: auto;
	height: 120px;
}
.imgproduto img{
	margin:auto;
	height: 100%;
	max-width: 100%;
	
}
.precoproduto{
	max-width: 100%;
	min-width: 30%;
	text-align: center;
	height: 25px;
}
.linkvermais {
	background: black;
	height: 20px;
}
.linkvermais a:link {
	color:white;
	text-decoration:none;
}
.linkvermais a:visited {
	color:white;
	text-decoration:none;
}
.linkvermais a:hover {
	color:#6cdc5d;
	text-decoration:none;
	transition:all .2s ease-in-out;
}
.linkvermais a:active {
	color:gray;
	text-decoration:none;
}	
#table{
	width:80%;
	margin:10px auto 0px auto;
	border-collapse: collapse;
}
#table table {
    
	width:80%;
}
#table table, td, th {
    border: 1px solid black;
    text-align :center;
}
.linkfeedback {
	text-align: center;
}
#footer {
	padding-top: 10px;
	width: 100%;
	height: 40px;
	background: #eaeeef;
	clear: both;
}